:root {

  --babyblue: hsl(221, 78%, 66%);
  --blue: #2043df;
}

#root {
  margin: 0px;
  padding: 0px;
  width: 1000px;
}

html {
  padding: 0;
  margin: 0;

}

body {
  margin: 0px;
  padding: 0px;
  /*height: 100vh;*/
  /*position: relative;*/

}
h2 {
  font-family: cursive;
}

header {
  width: 500px;
}

header {
  /* position: fixed; */
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;

}

.house {
  
  background-color: var(--blue);
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: center;
}

.house:hover {
  background-color: rgb(94, 93, 97);
  color: var(--babyblue);
}

.search {
  background-color: var(--babyblue);
  margin: 0px;
  list-style-type: none;
  display: flex;
  padding-left: 10px;
}

.search .find {
  border-color: aliceblue;
  border-radius: 7px;
  color: white;
  padding: 15px 20px;
}

.find {
  margin: 10px;
  font-size: 10px;
}

.search .find:hover {
  color: black;
  background-color: white;
}

input {
  font-family: FontAwesome;
}