.wrapper {
  margin: 15px;
  box-shadow: 0px 0px 5px 4px rgba(49, 44, 22, 0.86);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(49, 44, 22, 0.86);
  -moz-box-shadow: 0px 0px 5px 4px rgba(49, 44, 22, 0.86);
  
}

